﻿<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.h1</h1>
        <h2>@ViewBag.h2</h2>
        <h3>@ViewBag.h3</h3>
        <h4>@ViewBag.h4</h4>
        <h5>@ViewBag.h5</h5>
        <h6>@ViewBag.h6</h6>
        @RenderBody()
    </body>
</html>